*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
}

a{
    text-decoration: none;
}

header{
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav-bar{
    padding: 1em 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-title{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    color: #573311;
}

.main-nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}

.main-nav-list li{
    margin: 0 1em;
    transition-duration: 0.5s;
}

.nav-list-items{
    color: #454443;
}

.nav-list-items:hover{
    text-decoration: underline;
}

#nav-sign-in{
    background-color: #299437;
}

#nav-sign-in:hover{
    background-color: #20752b;
}

#nav-admin{
    margin-right: 0;
    background-color: #277ff2;
}

#nav-admin:hover{
    background-color: #0857bf;
}

.nav-user{
    padding: 0.5em 1em;
    border-radius: 30px;
}

.nav-user a{
    color: #fff;
}

.home-sections{
    width: 100%;
    padding-top: 4.25em;
}

.home-sections>*{
    font-family: 'PT Sans', sans-serif;
}

#page-top{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0;
}

#page-intro{
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url(imgs/SPOTLIGHT-ON-THE-DIGITAL-LIBRARY.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-overlay{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.text-overlay>*{
    color: #fff;
    margin: 0.25em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.home-sections h2{
    padding: 1em 0.5em;
    font-weight: 400;
    color: #573311;
    
}

.section-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title{
    width: 60%;
}

#services-container{
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.service-list{
    width: calc(100%/3);
    height: auto;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.service-img{
    width: 100%;
    height: 45%;
}

.service-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.service-info{
    padding: 2em;
}

.catalog-btn{
    margin: 2em 0;
}

.catalog-btn a:hover{
    color: #fff;
    background-color: #573311;
}

.catalog-btn a{
    color: #573311;
    padding: 0.5em 1em;
    border-radius: 30px;
    border: 2px solid #573311;
    transition: 0.5s;
}

#contact-section{
    margin-bottom: 4.25em;
}

#contact-section h2{
    padding-left: 0;
}

.contact-content{
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.paragraph{
    display: flex;
    flex-direction: column;
}

.paragraph h3{
    margin-bottom: 1em;
}

.paragraph p{
    margin: 0.5em 0;
}

footer p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.125em;
    text-align: center;
    padding: 1em 0;
    color: #fff;
    background-color: #573311;
}

footer p a{
    color: #fff;
    text-decoration: underline;
    transition: 0.2s;
}

footer p a:hover{
    color: #277ff2;
}

.form-pages{
    padding-top: 4.25em;
    height: 94vh;
}

.form-container{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 4em 0;
}

.form-container form{
    padding: 2em;
    width: 20%;
    background-color: #f5f5f5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#signin-form .error-msg{
    margin:10px 0;
    display: block;
    background: crimson;
    color:#fff;
    border-radius: 5px;
    font-size: 1em;
    padding:10px;
    text-align: center;
}

#signin-form, #admin-form{
    height: 30%;
}

#signup-form{
    height: 50%;
}

.form-title{
    margin: 0.5em 0 2em;
}

.form-title h2{
    font-family:'PT Sans', sans-serif;
    color: #573311;
}

.form-fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

#signup-form .form-fields div{
    width: 100%;
    margin-bottom: 1em;
}

.form-fields div input{
    display: block;
    width: 100%;
}

/* .form-control input:focus{
    outline: none;
} */

.form-control.success input{
    border-color: #41c45d;
}

.form-control.success input:focus{
    outline: #41c45d;
}

.form-control.error input{
    border-color: #e8021d;
}

.form-control.error input:focus{
    outline: #e8021d;
}

.form-control.error small{
    color: #e8021d;
    display: block;
}

.form-control small{
    display: none;
}

#signin-form .form-fields input, #admin-form .form-fields input{
    margin-bottom: 1em;
}

.form-fields input{
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #573311;
}

form a{
    text-decoration: underline;
}

.form-submit{
    padding: 0.5em 1em;
    border-radius: 30px;
    transition: 0.2s;
    color: #573311;
}

.user-submit{
    border: 1px solid #299437;
}

.user-submit:hover{
    background-color: #299437;
    color: #fff;
    cursor: pointer;
}

#admin-submit{
    border: 1px solid #277ff2;
}

#admin-submit:hover{
    background-color: #277ff2;
    color: #fff;
    cursor: pointer;
}

.dashboard-body main{
    height: 94vh;
}

#admin-body footer{
    position: relative;
    bottom: 0;
}

.div1{
    display: flex;
    gap: 15px;
}

.menu-icon{
    cursor: pointer;
}

#open-nav.hide{
    visibility: hidden;
}

#close-btn{
    position: fixed;
    display: none;
    transition: ease 0.25s;
}

#close-btn.show{
    display: block;
}

.side-nav{
    position: fixed;
    margin-top: 3.25em;
    width: 250px;
    height: 100%;
    left: -250px;
    transition: left 0.25s ease;
    z-index: 3;
}

.side-nav.show{
    left: 0;
}

.menu-container>*{
    font-family: 'PT Sans', sans-serif;
}

.menu-container{
    height: 100%;
    left: 0;
    background-color: #573311;
    text-align: center;
}

.menu-container ul li a{
    color: #fff;
    font-size: 1.25em;
    line-height: 3em;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    display: block;
}

.menu-container ul li a:hover{
    color: #277ff2;
    border-left: 2px solid #277ff2;
    background-color: rgba(39, 127, 242, 0.1);
}

.menu-container ul li{
    border-bottom: 1px solid #454443;
    
}

.dashboard-body .dashboard-container{
    height: 80%;
}

.dashboard-container{
    padding-top: 4.25em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-container>*{
    font-family: 'PT Sans', sans-serif;
}

.dashboard-box {
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 1em 5em;
}

.page-box{
    max-height: 100%;
    width: 80%;
    height: 100%;
    padding: 1em 5em;
}

.dashboard-box .section-title{
    margin: 0 0 2em;
}

.page-box .section-title{
    margin: 0 0 2em;
}

.welcome-text h1{
    margin: 0 0 1em;
}

.dashboard-box .section-title h2{
    font-weight: 400;
}

.page-box .section-title h2{
    font-weight: 400;
}

.dashboard-cards{
    height: 90%;
    gap: 25px;
    /* display: flex; */
    display: grid;
    grid-template-areas: 
    'a b c d'
    'e f g h';
}

.card{
    border-radius: 20px;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.card:nth-child(1), .card:nth-child(6){
    background-color: #f2f29d;
}
.card:nth-child(2), .card:nth-child(7){
    background-color: pink;
}
.card:nth-child(3), .card:nth-child(8){
    background-color: lightblue;
}
.card:nth-child(4), .card:nth-child(9){
    background-color: #e49df2;
}
.card:nth-child(5), .card:nth-child(10){
    background-color: beige;
}

.card:nth-child(1){
    grid-area: a;
}
.card:nth-child(2){
    grid-area: b;
}
.card:nth-child(3){
    grid-area: c;
}
.card:nth-child(4){
    grid-area: d;
}
.card:nth-child(5){
    grid-area: e;
}
.card:nth-child(6){
    grid-area: f;
}
.card:nth-child(7){
    grid-area: g;
}
.card:nth-child(8){
    grid-area: h;
}

.card-sections h1{
    font-size: 3em;
    font-weight: 400;
}

.card-sections p{
    font-family: 'Quicksand', sans-serif;
}

.card-sections:nth-child(2){
    margin: 1em 0 2em;
}

.members-table{
    width: 100%;
    border-collapse: collapse;
}

.members-table, .members-table th, .members-table td{
    border: #454443 solid 1px;
}

.members-table th{
    text-align: left;
    text-transform: uppercase;
    font-size: 1.25em;
    padding: 0.75em 0.5em;
}

.members-table td{
    padding: 0.5em;
}

.table-btns{
    padding: 0.25em 1em;
    border-radius: 5px;
}

#view-user{
    background-color: #277ff2;
    color: white;
    transition: 0.2s;
}

#view-user:hover{
    background-color: #0857bf;
}

.edit{
    background-color: #299437;
    color: white;
    transition: 0.2s;
}

.edit:hover{
    background-color: #20752b;
    cursor: pointer;
}

#delete{
    background-color: #e8021d;
    color: white;
    transition: 0.2s;
}

#delete:hover{
    background-color: #c0041a;
}

.members-nav{
    margin-bottom: 1em;
}

.members-nav p{
    font-weight: 600;
}

.members-nav a{
    font-weight: 400;
    transition: 0.2s;
    color: #797674;
}

.members-nav a:hover{
    color: #0857bf;
    cursor: pointer;
}

.editmember-form{
    border: 1px solid #797674;
    padding: 1.5em;
    border-radius: 5px;
}

/* .edit-inputs>*{
    width: 50%;
} */

.edit-inputs{
    width: 100%;
    display: grid;
    grid-template-areas: 
    'a b'
    'c d';
    gap: 3%;
    margin-bottom: 40px;
}

.edit-inputs:nth-child(1){
    grid-area: a;
}
.edit-inputs:nth-child(2){
    grid-area: b;
}
.edit-inputs:nth-child(3){
    grid-area: c;
}
.edit-inputs:nth-child(4){
    grid-area: d;
}
.edit-inputs:nth-child(5){
    grid-area: e;
}
/* .edit-inputs:nth-child(1){
    grid-area: a;
} */

.edit-inputs div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.edit-inputs div label{
    width: 30%;
    font-size: 1.125em;
}

.edit-inputs div input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid #797674;
    padding: 10px;
}

.editform-container div button{
    border: 0;
    border-radius: 5px;
    padding: 0.75em;
}